@import url('https://fonts.googleapis.com/css?family=Lato:900|Open+Sans:300,400|Roboto:900');


$header-font: 'FuturaEF';
$header-font2: 'Roboto', sans-serif;
$header-font3: 'Lato', sans-serif;
$main-font: 'Open Sans', sans-serif;
$reg-font: 'Open Sans', sans-serif;

//colors
$black:    #222;
$offwhite: #f1ece4;
$grey:     #9f9f9f;
$ligrey:   #dfdfdf;


//Fall Playfield Color Scheme
$darkbrown:    #282421;
$skyblue:      #9bc1dc;
$liorange:     #f2ac22;
$orange:       #c16903;
$burntorange:  #a54103;
